
@model WebApp.ViewModels.AlbumsViewModel;
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Message</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<h2 class="text-success">@ViewBag.SuccessMessage</h2>

<div>
    <h2>List of albums</h2>
    <form asp-controller="Photos" asp-action="PhotosForAlbum" method="post">
        <div class="form-group">
            <div>
                <label>Albums</label>
            </div>
            <select asp-for="AlbumId"
                    asp-items="@(new SelectList(Model.AlbumsList,"Id","Title"))">
                <option>Please select one</option>
            </select>
            <input type="submit" value="View album" class="btn btn-sml btn-primary" />
        </div>
    </form>
    <br />
</div>

